<nav>
    <ul>
        <li>
            <a href="/">Home  </a>
        </li>

        <li>
           @* <a href="/home/detalhes">Detalhes do Fernando</a>*@
            <a asp-action="detalhes" asp-controller="home">Detalhes do Fernando</a>
        </li>
    </ul>

</nav>